.movie-details {
    display: flex;
    margin-top: 20px;
}

.movie-details p {
    margin-top: 16px;
    margin-bottom: 16px;
}

.movie-details__poster {
    width: 325px;
}

.movie-details__backdrop {
    width: 875px;
    background-size: 100%;
}

.movie-details__info {
    height: 100%;
    padding: 40px;
    background: #ffffff;
    opacity: 80%;
}

.movie-details__genres {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
}
