.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 224px;
    cursor: pointer;
}

.movie-card-bg-light {
    background: #dde2e8;
}

.movie-card-bg-dark {
    background: #05132c;
}

.movie-card-text-light {
    color: #000000;
}

.movie-card-text-dark {
    color: #dde2e8;
}

.movie-card__info {
    padding: 15px 15px 15px;
}

.movie-card__genres {
    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;
    column-gap: 4px;
}

.movie-card__rating {
    padding: 15px;
    border-top: 2px solid #c5b5b5;
}
